{% extends 'base.html.twig' %}

{% block title %}Microblog | Bericht toevoegen{% endblock %}

{% block body %}

    <h1 class="mb-4">Nieuw bericht toevoegen</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="row">
        <div class="col-lg-6">
            <a href="{{ path('posts_index') }}">Annuleren</a>
        </div>
        <div class="col-lg-6">
            <button type="submit" class="btn btn-success float-right">Bericht toevoegen</button>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}
